
.Content {
  width: 100%;
  min-height: 80vh;
  margin-bottom: 20vh;
}

.Section {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 1em;
  margin: 0 1em;
  padding: 2em 1em;
  min-width: 350px;
}